@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    font-size: 18px;
    font-family: "Press Start 2P", sans-serif;
}

input[type="number"]{
    font-family: "Press Start 2P", sans-serif;
}