<div class="main__div">
    <h1>admin section</h1>
    <br>
    <table style="width:100%">
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Age</th>
        </tr>
        <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
        </tr>
    </table>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, excepturi obcaecati assumenda
        deserunt consequatur delectus quis rerum dolor, debitis molestias tempora sapiente sint? Saepe eaque
        rerum quibusdam corrupti maxime vel.
        Quia, excepturi dolor, harum quibusdam odio iure laudantium, similique nisi deleniti qui saepe
        dignissimos voluptas dolores? Neque quia laudantium, voluptas sed doloribus quam debitis dolorum
        labore unde similique, repellat dolorem.
        Mollitia fugit harum impedit saepe enim nostrum sunt quae, voluptatibus quasi autem neque reiciendis
        repellendus libero ipsum aspernatur fuga nesciunt! Quas laboriosam, sed ullam neque consequatur
        obcaecati quis possimus. Accusantium.
        Odit explicabo blanditiis ducimus molestias inventore eaque asperiores ut labore. Magni animi
        delectus sunt dignissimos, itaque illo necessitatibus eum adipisci molestias! Eum reiciendis rem
        autem expedita ad, rerum voluptas vitae.
        Dolorem rem ipsam consectetur aliquam, rerum quisquam eveniet consequatur necessitatibus cumque
        eaque voluptatem atque debitis assumenda aut tenetur sint omnis repellendus consequuntur ipsa labore
        perspiciatis quod deserunt voluptatum. Possimus, voluptates.</p>
</div>