<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto </title>
</head>
<body>
    
    <h1>Contacto</h1>

    <label for="user_reg">Nombre Completo</label>
    <input type="text" name="name" id="name" placeholder="Nombre">
    <br>
    <label for="passw_reg">Correo electrónico</label>
    <input type="text" name="email" id="email" placeholder="Correo">
    <br>
    <label for="passw_reg">Consulta</label>
    <input type="text" name="message" id="message" placeholder="Mensaje">
    <br>
    <button type="button" id="button" onclick="sendEMail()" >Enviar</button>
    <br><br>
    <div id="menssage">

    </div> 

  <script src="/static/script.js"></script>

</body>
</html>