<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contáctenos</title>
</head>
<body>

    <h1>Contáctenos</h1>
    <label for="">Nombre Completo*</label>
    <input type="text" name="none" id="name" placeholder="Nombre">
    <br>
    <label for="">Correo Electrónico*</label>
    <input type="text" name="email" id="email" placeholder="Correo">
    <br>
    <label for="">Consulta*</label>
    <input type="text" name="message" id="message" placeholder="Consulta">
    <br><br>
    <button id="send" onclick="">Enviar</button>

</body>
</html>