<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    
    <h2>Evaluación Ciclo II</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat asperiores illum corporis, odio labore doloribus fugiat, commodi voluptas deserunt repellat velit dolores earum nobis tempore ducimus quia aperiam ipsa quidem?</p>

    <h2>Inscripción Ciclo II</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure a recusandae architecto enim alias nobis explicabo dolorem, voluptate asperiores accusantium?</p>

    <h2>Pago de Matricula</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo aliquam architecto sit maiores, unde ex?</p>

</body>
</html>