<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div name="card">
        <h2>Evaluación de Profesores Ciclo II - 2020</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatem autem quaerat sapiente esse modi sit odit, reiciendis corrupti recusandae similique, sunt accusantium dolorum. Id rem voluptate ut molestias deleniti?</p>
    </div>

    <div name="card">
        <h2>Inscripción Ciclo II - 2020</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia a similique tempore fuga quis ex quasi blanditiis dolorem rem officia.</p>
    </div>

    <div name="card">
        <h2>Pago Cuota Abril</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni provident facilis porro, animi ad a!</p>
    </div>

</body>
</html>