<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios - Registro Académico</title>
</head>
<body>
    <h1>Servicios</h1>
    
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem atque modi soluta, quis, velit doloremque in qui ipsum numquam praesentium pariatur dicta fugit et necessitatibus id reiciendis consequatur ex accusantium.</p>

    <h3>Sistema para alumnos</h3>

    <p>Lorem ipsum dolor sit amet consectetur.</p>


    <ul>
        <li>Inscripción de materias</li>
        <li>Evaluación de profesores</li>
        <li>Publicación de notas</li>
        <li>Actualización de información personal</li>
        <li>Elaboración de currículos</li>
    </ul>

</html>