<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>

</head>
<body>
    <h1>Servicios</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat asperiores illum corporis, odio labore doloribus fugiat, commodi voluptas deserunt repellat velit dolores earum nobis tempore ducimus quia aperiam ipsa quidem?</p>

    <ul>
        <li>Inscripción de matrices</li>
        <li>Evaluación de profesores</li>
        <li>Publicación de notas</li>
        <li>Publicación de estado de requisitos de graduación</li>
    </ul>

</body>
</html>

